<a href="https://colab.research.google.com/github/Yugg09/Machine-Learning-/blob/main/ml_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

df = pd.read_csv("/content/sample_data/mnist_train_small.csv")
display(df.head())

In [ ]:
df_test = pd.read_csv("/content/sample_data/mnist_test.csv")
display(df_test.head())

In [ ]:
import pandas as pd

df = pd.read_csv("/content/sample_data/mnist_train_small.csv")
display(df.head())

,6,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,...,0.581,0.582,0.583,0.584,0.585,0.586,0.587,0.588,0.589,0.590
0,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
print(df.head(3))
print(df.tail())

   6  0  0.1  0.2  0.3  0.4  0.5  0.6  0.7  0.8  ...  0.581  0.582  0.583  \
0  5  0    0    0    0    0    0    0    0    0  ...      0      0      0
1  7  0    0    0    0    0    0    0    0    0  ...      0      0      0
2  9  0    0    0    0    0    0    0    0    0  ...      0      0      0

   0.584  0.585  0.586  0.587  0.588  0.589  0.590
0      0      0      0      0      0      0      0
1      0      0      0      0      0      0      0
2      0      0      0      0      0      0      0

[3 rows x 785 columns]
       6  0  0.1  0.2  0.3  0.4  0.5  0.6  0.7  0.8  ...  0.581  0.582  0.583  \
19994  0  0    0    0    0    0    0    0    0    0  ...      0      0      0
19995  1  0    0    0    0    0    0    0    0    0  ...      0      0      0
19996  2  0    0    0    0    0    0    0    0    0  ...      0      0      0
19997  9  0    0    0    0    0    0    0    0    0  ...      0      0      0
19998  5  0    0    0    0    0    0    0    0    0  ...      0      0      0

       0.584  0.585  0.586  0.587  0.588  0.589  0.590
19994      0      0      0      0      0      0      0
19995      0      0      0      0      0      0      0
19996      0      0      0      0      0      0      0
19997      0      0      0      0      0      0      0
19998      0      0      0      0      0      0      0

[5 rows x 785 columns]

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19999 entries, 0 to 19998
Columns: 785 entries, 6 to 0.590
dtypes: int64(785)
memory usage: 119.8 MB
None

CREATE A SIMPLE DATA SET

In [ ]:
import pandas as pd
data = {'A':[1,2,3,4,5], 'B':[6,7,8,9,10], 'C':[11,12,13,14,15]}
df = pd.DataFrame(data)
print(df)

   A   B   C
0  1   6  11
1  2   7  12
2  3   8  13
3  4   9  14
4  5  10  15

2.sing Descriptive Statistics using describe()

In [ ]:
summary_stats = df.describe()
print(summary_stats)

              A          B          C
count  5.000000   5.000000   5.000000
mean   3.000000   8.000000  13.000000
std    1.581139   1.581139   1.581139
min    1.000000   6.000000  11.000000
25%    2.000000   7.000000  12.000000
50%    3.000000   8.000000  13.000000
75%    4.000000   9.000000  14.000000
max    5.000000  10.000000  15.000000

3. MEAN MEDIAN AND MODE

In [ ]:
mean = df.mean()
median = df.median()
mode = df.mode()
print("Mean:\n", mean)
print("Median:\n", median)
print("Mode:\n", mode)

Mean:
 A     3.0
B     8.0
C    13.0
dtype: float64
Median:
 A     3.0
B     8.0
C    13.0
dtype: float64
Mode:
    A   B   C
0  1   6  11
1  2   7  12
2  3   8  13
3  4   9  14
4  5  10  15

4. Calculate the median, first quartile (Q1), and third quartile (Q3)

In [ ]:
import numpy as np
data  = np.array([1,2,3,4,5,6,7,8,9,10])

# calculating median(q2)
median = np.quantile(data,0.5)

# calculating first quartile(q1)
q1 = np.quantile(data, 0.25)

# calculating third quartile(q3)
q3 = np.quantile(data, 0.75)

print("Median (Q2):", median)
print("First Quartile (Q1):", q1)
print("Third Quartile (Q3):", q3)

Median (Q2): 5.5
First Quartile (Q1): 3.25
Third Quartile (Q3): 7.75